@import "tailwindcss";

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
  /*outline: 1px solid red !important;*/
}

/* *, *::before, *::after {
  box-sizing: border-box;
} */

html,
body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Host Grotesk", "Host Grotesk Placeholder", sans-serif;
}

p, h1, h2, h3 {
  overflow-wrap: anywhere;
}

main {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
}
